* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Ubuntu", serif;
}

main {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
}

.display {
    display: block;
    height: 90px;
    text-align: end;
    font-size: 40px;
    background-color: #EFEFEF;
    scrollbar-color: rgb(100, 100, 100) #EFEFEF;
    border: 1px solid black;
    padding: 10px;
    overflow-x: scroll;
}

.keyboard {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.row button {
    border: 1px solid black;
    flex: 1;
    font-size: 25px;
}

.row button:hover {
    background-color: rgb(229, 229, 229);
}

.row button:active {
    background-color: rgb(209, 209, 209);
}

#clear {
    flex-grow: 3;
    text-transform: uppercase;
}

#divide {
    max-width: 25%;
}